@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    :root {
        --red:  hsl(0, 100%, 74%);
        --Green: hsl(154, 59%, 51%);
        --Blue: hsl(248, 32%, 49%);
        --Dark-Blue: hsl(249, 10%, 26%);
        --Grayish-Blue: hsl(246, 25%, 77%);
    }

    *, *::before, *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
    }


    input, button, textarea, select {
        font: inherit;
    }

    p, h1 {
        overflow-wrap: break-word;
    }

    body {
        font-family: "Poppins", serif;
        background-image: url(/images/bg-intro-desktop.png);
        background-repeat: no-repeat;
        background-color: var(--red);
    }

    main {
        padding: 80px 24px;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 40px;
        .text {
            gap: 24px;
            h1 {
                color: #fff;
            }
            p {
                color: #fff;
                font-size: 1rem;
            }
        }
    }  
    
    .form-section {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .free-trial {
            background-color: var(--Blue);
            padding: 12px 30px;
            color: #fff;
            border-radius: 8px;
            font-weight: 300;
            box-shadow: 0 9px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            span {
                font-weight: 700;
            }
        } 
        #form {
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            padding: 20px;
            gap: 20px;
            border-radius: 12px;
            button {
                background-color: var(--Green);
                padding: 12px;
                border: none;
                border-radius: 4px;
                text-transform: uppercase;
                color: #fff;
                font-weight: 500;
                cursor: pointer;
            }
            .terms p {
                color: var(--Grayish-Blue);
                font-size: 12px;
                a {
                    color: var(--red);
                    text-decoration: none;
                    font-weight: 500;
                    cursor: pointer;
                }
            }
        }
    }

    .input-field {
        position: relative;
        width: 100%;
        height: 40px;
        input {
            width: 100%;
            height: 100%;
            padding: 12px;
            outline: none;
            border: 1px solid #d2d2d2;
            border-radius: 4px;
        }
        img {
            position: absolute;
            background: none;
            right: 12px;
            top: 9px;
            width: 24px;
            height: 24px;
        }
        span {
            color: var(--red);
            display: flex;
            justify-content: flex-end;
            font-size: 10px;
            margin-top: 2px;
            font-style: italic;
        }
    }

    .hidden {
        display: none;
    }


    @media (min-width: 990px) {
        main {
            min-height: 100vh;
            flex-direction: row;

            justify-content: center;
            align-items: center;
            gap: 100px;
            .text {
                width: 500px;
                text-align: start;
                h1 {
                    font-size: 2.4rem;
                }
            }
            .form-section {
                width: 500px;
                #form {
                    gap: 30px;
                }
            }
        }

        .form-section #form {
            gap: 30px;
        }
    }




